[project]
name = "pacer-py"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
authors = [
    { name = "gjohn", email = "georg.john@naturerobots.com" }
]
requires-python = ">=3.12"
dependencies = []

[project.scripts]
pacer-py = "pacer_py:main"

[build-system]
requires = ["uv_build>=0.9.0,<0.10.0"]
build-backend = "uv_build"

[tool.uv.build-backend]
module-root = ""

[tool.mypy]
strict = true
python_version = ">=3.12"
warn_return_any = true
warn_unused_configs = true

[dependency-groups]
dev = [
    "pytest>=8.4.2",
    "pytest-cov>=7.0.0",
]
